<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSOperationQueue）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33F06FA91D7AED8C0051BF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33F06FC21D7AED8C0051BF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33F06FCD1D7AED8D0051BF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
