<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3304E26E1D6BE2D6000EC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3304E2871D6BE2D7000EC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3304E2921D6BE2D7000EC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
